@media (max-width: 1200px)
  .container, .genre-container
    max-width: 960px

  .card
    &-book
      &__image
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
  
  .offer
    &__first
      margin-right: 0
    &__block
      min-height: 500px
    &-wrapper
      flex-direction: column
      align-items: center

  .recomendation
    &-block
      width: 800px
    &__more
      width: 800px
      margin-bottom: 60px

  .bestseller
    &-block
      flex-direction: row
      flex-wrap: wrap
      align-items: center
      max-width: 800px
      min-height: 450px
 

  .partners
    &__first, &__second
      max-width: 960px
    &__item
      width: 240px

  .blog
    &-wrapper
      flex-direction: column
    &__first
      margin-bottom: 30px
    &__second
      flex-direction: column-reverse
    &__link
      margin: auto

  .subscribe
    &__title
      max-width: 280px

  .genre
    &-wrapper
      max-width: 700px
      margin: 0 auto
    &-slider
      width: 560px
      height: 600px
      &__slide
        height: calc((100% - 30px)/2)
    &__button
      top: 45%
      &--prev
        left: 10%        
      &--next
        right: 10%
  
  .unreleased
    &__image
      width: 150px
      height: 220px

  .story
    &-wrapper
      padding-right: 0
      padding-left: 0
        

@media (max-width: 992px)
  .container
    max-width: 700px

  .card    
    &-info
      &__title
        width: 280px
        font-size: 40px
        line-height: 40px
      &__text
        line-height: 23px
        margin-bottom: 30px
      &__links
        display: flex
        flex-direction: column
      &__buy
        padding-right: 52px
        padding-left: 52px
        margin-right: 0
        margin-bottom: 15px
    &-book
      height: 400px
      &__image
        width: 200px
        height: 300px        
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)

  .offer
    &__first
      width: 100%
    &__title
      font-size: 28px
      line-height: 36px
      margin-bottom: 36px

  .recomendation
    &-block
      width: 100%
    &-wrapper
      max-width: 150px
    &__click
      margin-bottom: 50px
    &-book
      width: 330px
      align-items: center
      &__image
        width: 134px
        height: 200px
        margin-right: 10px
      &__title 
        margin-top: 30px       
        margin-bottom: 12px
      &__info
        font-size: 14px
        line-height: 20px
        margin-bottom: 16px
      &__price
        margin-bottom: 20px
    &__more
      width: 100%
      padding-right: 0
      padding-left: 0

  .book
    &-price
      font-size: 16px
      line-height: 20px

  .partners
    &__first
      flex-wrap: wrap
      max-width: 700px
      min-height: 150px
      margin-bottom: 0
    &__second
      display: none
    &__item
      width: 190px

  .subscribe
    &-block
      flex-direction: column
      align-items: center
    &__title
      max-width: 393px
      text-align: center

  .unreleased
    &__books
      max-width: 700px
      margin: 0 auto
    &-slider
      width: 100%
      height: 600px
    &-slider
      height: 260px
      &__slide
        height: calc((100% - 30px)/2

  .story
    &-block
      &:nth-child(3)
        display: none
    &__video
      &-emelda, &-mar
        width: 252px
        height: 160px
    &__info
      flex-direction: column
      align-items: center
    &__title
      margin-bottom: 24px
    &__paragraph
      max-width: 100%
      text-align: center
    &__title
      text-align: center

  .footer
    &__main
      flex-direction: column
    &__first
      flex-direction: row
      align-items: center
      justify-content: space-between
      width: 100%
      margin-bottom: 30px

  .modal
    &__dialog
      max-height: 90%
      &--visible
        overflow-y: auto


@media (min-width: 992px)
  button:hover
    background-color: $grey
  a:hover
    color: $link
  a:visited
    text-decoration: none
  .card-info__buy, .card-info__read, .recomendation__more, .blog__link 
    &:hover
      text-decoration: none
      background-color: $grey
  .recomendation__icon
    &:hover
      fill: red
  .footer__icon
    &:hover
      background-color: $orange
      border-radius: 50%
      opacity: 0.7

  .genre__button
    &:hover
      width: 110px
      height: 110px

  .unreleased__button
    &:hover
      width: 70px
      height: 70px


  .story__icon-mini-1, .story__icon-mini-2, .story__icon-mini-3, .story__icon
    &:hover
      fill: $orange
    
  .bestseller__more
    &:hover
      text-decoration: none

@media (max-width: 768px)
  body
    padding-top: 86px
  .container
    width: 92%
  .navbar
    &-menu
      display: none
      &--visible
        display: flex
        flex-direction: column
        align-items: center
        justify-content: start
        position: fixed
        max-height: 90%
        left: 0
        right: 0
        bottom: 0
        top: 86px
        background-color: $primary
        overflow-y: auto
    &--mobile
      &--fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 110
    &__button
      background-color: $light  
      margin-top: 20px 
      font-size: 22px
      line-height: 24px 
      max-width: 200px
      &-mobile
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-between
        width: 22px
        height: 17px
        border: none
        background-color: inherit
        cursor: pointer
    &__line
      width: 22px
      height: 2px
      background-color: $menu-button-color
    &__item
      &--light
        margin-top: 20px
    &__link
      &--light
        color: $light        
        font-size: 22px
        line-height: 24px
    &__ul
      &--column
        flex-direction: column
        align-items: center
        padding-right: 0
  
  .card
    &-wrapper
      flex-direction: column
      align-items: center      
    &-info
      width: 75%
      &__title
        width: 443px
      &__links
        display: block
      &__buy
        margin-right: 20px
      &__read
        margin-bottom: 36px
    &-book
      &__image
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)


  .offer
    &__first, &__second
      align-items: center
    &__block
      width: 100%
      display: flex
      flex-direction: column
    &__title
      text-align: center
  .recomendation
    &-block
      width: 100%
      height: 480px
      justify-content: space-around
    &__click
      margin-bottom: 0
    &__more
      width: 100%
    &-book
      flex-direction: column
      align-items: center
      width: 200px
      min-height: 450px
      &:nth-child(even)
        display: none
      &:nth-child(5)
        display: none 
      &__image
        margin-right: 0        
      &__title, &__info, &__price
        text-align: center
  
  .bestseller
    &-block
      width: 90%
      height: 850px
    &-book
      flex-direction: column
      flex-wrap: wrap
      align-items: center
      flex-basis: 50%
      &__image
        margin-right: 0
      &__title, &__info, &__price
        text-align: center
      &__button
        margin-bottom: 32px
        margin-left: 30px
      
  .partners
    &__first
      width: 92%
    &__title
      max-width: 50%

  .blog
    &-wrapper
      align-items: center
    &__first
      align-items: center
    &__article
      flex-direction: column
      margin-bottom: 40px
      &-wrapper
        align-items: center  
    &__name
      &--small
        text-align: center  
    &__image
      width: 335px
      height: 200px
      &--small
        margin-right: 0
  
  .subscribe
    &__title
      font-size: 28px
      line-height: 36px

  .genre
    &-block
      max-width: 200px
      padding-top: 20px
      padding-bottom: 20px
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      margin: 0 auto
    &__icon
      width: 36px
      height: 36px
      margin-bottom: 16px
    &__name
      font-size: 16px
      line-height: 20px
      margin-bottom: 10px
    &__info
      font-size: 12px
      line-height: 20px
    &-slider
      width: 70%
      height: 500px
      &__slide
        position: relative
        height: calc((100% - 30px)/2

  .unreleased
    &-wrapper
      height: 400px
    &-block
      position: relative
    &__image
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      margin: 0 auto
    &__books
      max-width: 400px
    &__title
      font-size: 28px
      line-height: 36px
      text-align: center
    &__arrows
      top: 90%
      margin: 0 auto
      right: 0
      left: 0     

  .story
    &-block
      width: 48%
    &__video
      &-emelda, &-mar
        width: 100%


  .footer
    &__main
      align-items: center 
    &__logo
      margin-bottom: 0  
    &__first
      width: 80%  
    &__second
      flex-wrap: wrap
      max-width: 80%
      min-height: 600px
    &__product, &__services, &__company, &__more
      flex-basis: 50%
    &__info, &__bottom
      display: none
    &__title, &__item
      text-align: center  
       
      
@media (max-width: 576px) 
  body
    padding-top: 86px
  .container
    width: 90%
  .navbar
    &-wrapper
      padding-top: 20px
      padding-bottom: 35px
    &-menu
      &--visible
        top: 86px
    &__button
      &-mobile
        margin-right: 10px

  .card
    &-wrapper
      padding-top: 12px
      padding-bottom: 28px
      align-items: center
    &-info
      align-items: center
      width: 100%
      &__title
        font-size: 32px
        margin-bottom: 24px
        text-align: center
      &__author
        font-size: 16px
        margin-bottom: 15px
        text-align: center
      &__text
        font-size: 16px
        text-align: center
        margin-bottom: 18px
      &__links
        display: flex
        flex-direction: column
        align-items: center
      &__buy
        padding: 9px 20px
        margin-right: 0
      &__read
        padding: 7px 28px
        font-size: 16px
        line-height: 21px
    &-book
      width: 280px
      height: 332px
      &__image
        width: 143px
        height: 214px

  .offer
    &-wrapper
      padding-top: 30px
    &__second
      width: 100%
    &__block
      height: 820px
    &__title
      font-size: 28px
      line-height: 36px
      margin-bottom: 60px
      &--mb
        &-small
          margin-bottom: 30px

  .recomendation
    display: flex
    flex-direction: column 
    align-items: center 
    &-wrapper
      align-items: center
      max-width: 250px
      width: 250px     
    &-block
      width: 100% 
      height: 330px
      margin-bottom: 20px      
    &__click
      margin-bottom: 32px
    &__more
      width: 100%
      text-transform: none
      padding: 14px 61px
      margin-top: 0
      margin-bottom: 55px
    &-book
      width: 100%
      height: 330px
      min-height: 330px 
      justify-content: space-between
      &:nth-child(3)
        display: none
      &__image
        width: 96px
        height: 146px
        margin-top: -30px
        margin-bottom: 10px
      &__title 
        margin-top: 0       
        margin-bottom: 12px
      &__info
        font-size: 14px
        line-height: 20px
        margin-bottom: 10px
      &__price
        font-size: 16px
        line-height: 20px
        margin-bottom: 20px
      &__button
        margin-bottom: 0
        padding-right: 26px
        padding-left: 26px
        max-width: 115px

  .book
    &-title
      max-width: 95%
      font-size: 20px
      line-height: 24px
     
  
  .bestseller 
    &-wrapper
      align-items: flex-start
      padding-top: 10px
    &-bottom
      width: 100%
      padding-left: 0
    &__line
      margin-bottom: 25px
    &__more
      margin-left: 0
    &-block
      flex-direction: column
      justify-content: space-between
      align-items: center
      width: 100%
      height: 730px
      padding-left: 15px
      padding-top: 10px
    &-book
      flex-direction: row
      flex-basis: 0
      height: 170px
      &__image
        width: 96px
        height: 146px
        margin-right: 13px
      &__title
        width: 130px
        font-size: 16px
        line-height: 24px
        text-align: left
      &__price
        font-size: 20px
        line-height: 24px
        margin-bottom: 15px
      &__button
        margin-left: 0
        margin-top: 0

  .partners
    &-wrapper
      padding-top: 40px
      padding-bottom: 50px
    &__first
      width: 90%
      min-height: 150px
    &__title
      line-height: 30px
      max-width: 280px
      margin-bottom: 17px
    &__item
      width: 50%

  .blog
    &-wrapper
      padding-top: 56px
      padding-bottom: 13px
    &__first
      margin-bottom: 12px
    &__second
      min-height: 450px
    &__block
      min-height: 332px
    &__title
      font-size: 28px
      line-height: 36px
    &__image
      width: 280px
      height: 120px
      object-fit: cover
      margin-bottom: 25px
      border-radius: 5px
      &--small
        width: 90px
        height: 90px
        object-fit: cover
        margin-bottom: 0
        margin-right: 20px
    &__name
      font-size: 16px
      line-height: 20px
      margin-bottom: 3px
      margin-right: auto
      &--small
        font-size: 14px
        text-align: left
        margin-bottom: 6px
        max-width: 172px
    &__text
      font-size: 12px
      line-height: 24px
      max-width: 280px
    &__article
      flex-direction: row
      margin-bottom: 0
      &-wrapper
        align-items: start
    &__date
      font-size: 10px
      line-height: 20px
      margin-bottom: 6px
    &__read
      font-size: 10px
      line-height: 20px
    &__link
      font-size: 14px
      padding-left: 40px
      padding-right: 40px

  .subscribe
    background-color: $primary
    &-wrapper
      padding-top: 25px
      padding-left: 0
      padding-right: 0
      padding-bottom: 33px
    &__mail
      display: flex
      flex-direction: column
      width: 100%
      height: 112px
      background-color: $light
      border: 1px solid #C3CAD9
      border-radius: 8px
    &__title
      width: 100%
      margin-bottom: 30px
    &__form
      width: 100%
      margin-top: 15px
    &__input
      border: 0
      padding-right: 20px
      height: 30px
    &__button
      max-width: 100%
      min-height: 42px
      top: 40px
      right: 0
      left: 0
      margin: 0 auto
      padding-right: 37%
      padding-left: 37%
    &__icon    
      top: 8px

  .circle-1
    left: -30%
    top: 70%

  .circle-2
    right: -50%
    top: -350%

  .genre
    &-container
      width: 90%
    &-wrapper
      max-width: 100%
      padding-top: 20px
      padding-bottom: 125px
    &-block
      width: 140px
      padding-right: 20px
      padding-left: 20px
      &--pd-10
        padding-right: 10px
        padding-left: 10px
    &__image
      width: 36px
      height: 36px
      margin-bottom: 14px
    &__name
      &--mb-30
        margin-bottom: 30px
    &-slider
      width: 100%
      height: 390px
    &__button
      top: 88%
      &--prev
        left: 30%
      &--next
        right: 30%

  .unreleased
    padding-top: 50px
    padding-bottom: 62px
    &-wrapper
      height: 450px
    &__books
      max-width: 210px
      height: 300px
    &__title
      margin-bottom: 32px
    &__image
      width: 206px
      height: 300px
    &-slider
      width: 206px
      height: 300px
      &__slide
        margin: 0 auto
    &__arrows
      width: 120px
      top: 92%
    &__button
      width: 48px
      height: 48px

  .story
    padding-top: 44px
    padding-bottom: 40px
    &__flag
      width: 10px
      height: 14px
    &__title
      font-size: 28px
      line-height: 36px
    &__paragraph
      font-size: 18px
      line-height: 25px
      margin-bottom: 18px
    &__video
      display: flex
      align-items: center
      flex-direction: column
      &-emelda
        background-image: url('../img/video-2-small.jpg')
        width: 140px
        height: 138px
        margin-bottom: 16px
      &-mar
        background-image: url('../img/video-3-small.jpg')
        width: 140px
        height: 138px
        margin-bottom: 16px
      &-primary
        width: 300px
        height: 210px
        margin-bottom: 15px
        background-image: url('../img/video-1-small.jpg')
      &-secondary
        width: 300px
    &__bottom
      flex-direction: column
      align-items: center
    &-info
      &__name
        font-size: 16px
        line-height: 20px
        text-align: center
        margin-top: 0
      &__detail
        font-size: 12px
        line-height: 20px
        text-align: center
        margin-bottom: 16px
    &__icon
      width: 56px
      height: 56px
      &-mini-1, &-mini-2, &-mini-3
        width: 21px
        height: 27px

  .footer
    &-wrapper
      padding-top: 50px
      padding-bottom: 0
    &__logo
      margin-bottom: 20px
    &__main
      flex-direction: column-reverse
    &__first
      flex-direction: column
      width: 100%
    &__second
      max-width: 100%
      min-height: 445px
    &__info
      display: block
      text-align: center
      margin-bottom: 16px
    &__title
      font-size: 16px
      line-height: 22px
      margin-bottom: 20px
    &__item
      font-size: 14px
      line-height: 20px
      margin-bottom: 15px
      text-align: left
    &__title
      text-align: left

  .modal
    &__dialog
      width: 80% 
      padding-right: 18px
      padding-left: 18px
    &__form
      display: flex
      flex-direction: column
      align-items: center  
    &__input
      width: 100%
      &-group
        width: 90% 
    &__message
      width: 90%
    &__send
      flex-direction: column
      align-items: center
      justify-content: space-between
      height: 80px


@media (min-width: 320px) and (max-width: 480px)
  .card
    &-info
      &__title
        width: 280px
        
  .bestseller
    &-block
      align-items: flex-start
  
  .subscribe
    &-block
      align-items: flex-start
    &__title
      max-width: 200px
      text-align: left
    &__button
      width: 93%
      padding-right: 0
      padding-left: 0

  .story
    &__paragraph
      max-width: 280px

  .modal
    &__dialog
      width: 80%
      padding-right: 10px
      padding-left: 10px
    &__input
      width: 100%
      &-group
        width: 90% 
    &__message
      width: 90%
    &__send
      width: 100%




