*
  box-sizing: border-box

html
  scroll-behavior: smooth

body
  font-family: 'Open Sans', sans-serif
  background-color: $light
  color: $text-color

.container
  max-width: 1140px
  margin: auto

.genre-container
  max-width: 1190px
  margin: auto

img
  max-width: 100%

.to-top
  position: fixed
  bottom: 20px
  right: 20px


button
  cursor: pointer

input, textarea
  outline: none

input::placeholder
  color: #959EAD

textarea::placeholder
  color: #959EAD

.invalid
  color: $primary

label.invalid
  position: absolute
  top: -20px
  left: 15px
  font-size: 12px
  background-color: $invalid-color
  color: $light
  padding: 5px 10px
  border-radius: 5px
  z-index: 100
  &::after
    content: ''
    position: absolute
    left: 15px
    bottom: -5px
    background-color: $invalid-color
    width: 10px
    height: 10px
    transform: rotate(45deg)



    

