.genre
  &-wrapper
    border-top: 1px solid $border
    padding-top: 60px
    padding-bottom: 100px
  &-block
    display: flex
    flex-direction: column
    align-items: center
    width: 265px
    max-width: 265px
    border: 1px solid $border
    border-radius: 8px
    padding-top: 40px
    padding-bottom: 30px
  &__image
    margin-bottom: 40px
  &__name
    font-family: 'Roboto', sans-serif
    font-style: normal
    font-weight: 500
    font-size: 22px
    line-height: 32px
    text-align: center
    letter-spacing: 0.2px
    margin-bottom: 12px
  &__info
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 22px
    text-align: center
    color: $paragraph-color
  &-list
    display: flex
    justify-content: space-between
    width: 1140px
  &-slider
    width: 265px
    &__slide
      width: 100%
    &__button
      width: 50px
      height: 50px
      border: 2px solid red 


  

