.offer
  &-wrapper
    display: flex
    padding: 80px 0 20px 0
  &__title
    font-family: 'Roboto Condensed', sans-serif
    font-style: normal
    font-weight: bold
    font-size: 32px
    line-height: 40px
    letter-spacing: 0.2px
    margin-top: 0
  &__first
    margin-right: 32px
  
.recomendation
  &-block
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    width: 751px
    height: 900px          
  &-wrapper
    display: flex
    flex-direction: column    
  &__icon
    width: 19px
    height: 17px
    fill: $like
    cursor: pointer
  &__click
    display: flex
    align-items: center
  &-book
    display: flex
    justify-content: flex-start
    align-items: center
    width: 358px
    height: 260px
    border: 1px solid #ECEEF2
    border-radius: 8px
    padding: 11px   
    &__image
      width: 160px
      height: 238px
      margin-right: 20px
      border-radius: 8px
      overflow: hidden
    &__title
      margin-bottom: 16px
    &__info
      font-style: normal
      font-weight: normal
      font-size: 16px
      line-height: 22px
      margin-bottom: 24px  
    &__price
      margin-bottom: 24px  
    &__button
      margin-right: 20px  
  &__more
    display: inline-block
    font-family: 'Roboto Condensed', sans-serif
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 20px
    text-align: center
    letter-spacing: 0.2px
    text-transform: uppercase
    text-decoration: none
    color: $primary
    background-color: #e8f0fb
    border-radius: 8px
    padding: 25px 280px 27px 287px
    margin-top: -20px

.book
  &-title
    max-width: 150px
    font-family: 'Roboto', sans-serif
    font-style: normal
    font-weight: 500
    font-size: 22px
    line-height: 32px
    letter-spacing: 0.2px
    margin-top: 0
  &-price
    font-family: 'Roboto Condensed', sans-serif
    font-style: normal
    font-weight: bold
    font-size: 20px
    line-height: 24px
    letter-spacing: 0.2px
    color: $primary
  &-button 
    max-width: 101px
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 22px
    text-align: center
    background-color: $text-color
    color: $light
    border: 1px solid $border
    border-radius: 2000px
    padding: 7px 20px

.bestseller
  &-block
    display: flex
    flex-direction: column
    justify-content: space-between
    width: 360px
    height: 950px
    background-color: $light-grey
    padding: 24px 0 0 24px
    border-radius: 8px
    &__line
      width: 321px
      height: 1px
      background-color: $border
  &-wrapper
    display: flex
    flex-direction: column
  &-book
    display: flex    
    width: 286px
    &__image
      width: 120px
      height: 182px
      border-radius: 6px
      overflow: hidden
      margin-right: 26px
    &__title
      margin-top: 9px
      margin-bottom: 15px
    &__price
      margin-bottom: 22px
  &__more
    display: inline-block
    font-family: 'Roboto Condensed', sans-serif
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 20px
    text-align: center
    letter-spacing: 0.2px
    text-transform: uppercase
    text-decoration: none
    color: $primary
    flex-basis: 5%
    margin-left: -20px
    
    
    

    