.unreleased
  background-color: $text-color    
  padding: 62px 0 56px 0
  &__title
    font-family: 'Roboto Condensed', sans-serif
    font-style: normal
    font-weight: bold
    font-size: 36px
    line-height: 48px
    letter-spacing: 0.2px
    color: $light
    margin-top: 0
    margin-bottom: 51px
  &-slider
    &__button
      width: 56px
      height: 56px
      background-repeat: no-repeat
      background-position: center
      border: none
      background-color: transparent
      cursor: pointer
      z-index: 100
      &--prev
        background-image: url('../img/arrow-2-prev.svg')
      &--next
        background-image: url('../img/arrow-2-next.svg')